<div class="container">
  <div class="card mt-2">
    <div class="card-header">
      <h3 class="card-title">Show Blog</h3>
      <div class="card-tools">
        <button class="btn btn-warning" type="button" name="button"><%= link_to 'Back', articles_path %></button>
      </div>
    </div>
    <div class="card-body">
      <h2>Title:   <%= @article.title %></h2>
      <h2>Body: <% @article.text %></h2>
    </div>
  </div>
</div>
