<div class="container  mt-2">
  <div class="card text-center">
    <div class="card-header">
        <h3 class="card-title">Welcome to Ruby on Rails Blog</h3>
    </div>
   <div class="card-body">
     <p>The Bests Blogs about Technology</p>
     <button class="btn btn-warning" type="button" name="button">
       <%= link_to 'My Blog',controller:'articles'%>
     </button>
   </div>
  </div>
</div>
